<!DOCTYPE html>
<html>
  <head>
    <title>Pet Controller</title>
  </head>
  
  <body>
    <nav>
    <a href="/owners"> All Owners</a>
    <a href="/pets"> All Pets</a>
    <a href="/owners/new"> New Owner</a>
    <a href="/pets/new"> New Pet</a>
    </nav>
    <%= yield %>
  </body>
</html>